<div class="eingabe">
<h2>Ist es ein Hasskommentar?</h2>
<textarea class="kommentar" [(ngModule)]="kommentar" placeholder="Bitte gebe deinen Kommentar ein"></textarea>
<button name="send">
  Kommentar prüfen
</button>

  <div *ngIf="ergebnis">
    <h3>Ergebnis: {{ergebnis}}</h3>
  </div>
  <div class="confidence-wrapper" *ngIf="confidence!==null">
    <div class="confidence-Bar" [style.width.%]="confidence*100"></div>
    <p *ngIf="confidence !== null">
      Confidence: {{ confidence | number:'1.2-2' }}
    </p>
</div>
</div>
